{% extends 'base.html' %} 
{% block content %}
<i class="bi bi-chat-dots-fill"></i>

<h1>Welcome to Comment EZ V.01</h1>
<p class="lead">This is a comment system built using Flask. It allows users to post comments, view comments, and interact with other users. The system is implemented using Python, Flask, and SQLAlchemy.</p>
<p class="lead">
  <a href="#" class="btn btn-lg btn-success"><i class="bi bi-door-open-fill"></i> Register</a>
  <a href="#" class="btn btn-lg btn-primary"><i class="bi bi-person-fill-check"></i> Login</a>
</p>
{% endblock %}
